simpleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d710def6-2fff-4a47-87e0-6b0524c7fea8" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="simpleappFlow" doc:id="73eb4ba4-b88d-4863-9380-6e03c18c86aa" >
		<http:listener doc:name="Listener" doc:id="b2993fdc-85f3-40ad-8602-b6c1984ba6d2" config-ref="HTTP_Listener_config" path="/cloudhub"/>
		<set-payload value="#['It is deployed on cloudhub']" doc:name="Set Payload" doc:id="f1eeee20-3740-438b-9f16-2d10674ccef6" />
	</flow>
</mule>
